@import "App.scss";

.contact-actions-container {
  .ant-avatar {
    transition: transform 0.3s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  @include respond-to($breakpoint-md) {
    flex-direction: row;
  }

  span.phone {
    color: lightgreen;
  }

  span.edit {
    color: coral;
  }

  span.delete {
    color: red;
  }

  span.other {
    color: #0083fe;
  }
}
