@import "App.scss";

.contacts-layout {
  min-height: 100vh;

  .contacts-header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 24px;
    border-bottom: 1px solid lightgrey;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .contacts-content {
    border-radius: 10px;
    margin: 24px;
    padding: 20px;
    background-color: white;

    @include respond-to($breakpoint-md) {
      padding: 20px 50px;
    }
  }

  .contacts-footer {
    background-color: white;
    border-top: 1px solid black;
    text-align: center;
  }
}
