.header-container {
  width: 100%;

  .contact-icon {
    font-size: 14px;
    color: gray;
  }

  .add-icon {
    font-size: 24px;
    color: lightgreen;
    cursor: pointer;
  }

  .light-mode-icon {
    color: yellow;
  }

  .dark-mode-icon {
    color: whitesmoke;
  }
}
